{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Criar Conta</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="../static/images/woman-icon.png">
        <!-- CSS FILES -->
        <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static '/css/bootstrap.icons.css' %}">
        <link rel="stylesheet" href="{% static '/css/login.css' %}">
    </head>
     <body class="topics-listing-page" id="top">
        <!-- Navbar -->
        <nav class="navbar">
            <div class="navbar-logo">
                <span>Tammy Espaço de Beleza</span>
            </div>
            <div class="navbar-link">
                <a href="/">Início</a>
                <a href="/sobre">Sobre</a>
                <a href="/serviços">Serviços</a>
                <!--a href="/agendar">Agendar</a-->
                <a href="/contato">Contato</a>
            </div>
        </nav>
        <!-- Section -->
        <section class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-12 mt-3 mx-auto">
                                <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                                    <div class="d-flex">
                                        <div class="container-md">
                                            <h3 class="mb-4">Cadastre-se</h3>
                                            <p class="text-left">Campos com (*) são obrigatórios.</p>
                                            {% bootstrap_messages %}
                                            <form id="cadastro-form" method="post" action="{% url 'cadastro' %}">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label for="firstname">Nome*</label>
                                                    <input class="fields" type="firstname" id="firstname" name="firstname" placeholder="Digite o seu nome">
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastname">Sobrenome*</label>
                                                    <input class="fields" type="lastname" id="lastname" name="lastname" placeholder="Digite o seu sobrenome">
                                                </div>
                                                <div class="form-group">
                                                    <label for="mobilephone">Celular*</label>
                                                    <input class="fields" type="mobilephone" id="mobilephone" name="mobilephone" placeholder="(00) 00000-0000">
                                                </div>
                                                <div class="form-group">
                                                    <label for="email">E-mail*</label>
                                                    <input class="fields" type="email" id="email" name="email" placeholder="Digite o seu e-mail">
                                                </div>
                                                <div class="form-group">
                                                    <label for="password">Senha*</label>
                                                    <input class="fields" type="password" id="password" name="password" placeholder="Digite a sua senha">
                                                </div>
                                                <div class="form-group">
                                                    <label for="confirm">Confirme a sua senha*</label>
                                                    <input class="fields" type="confirm" id="confirm" name="confirm" placeholder="Confirme a sua senha">
                                                </div>
                                                <button type="submit" class="btn-access">Enviar</button>
                                                <p class="text-left">Já possui cadastro? <a href="/login">Acessar minha conta</a>.</p>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer -->
        <footer>
            <div class="footer">
                <h1 class="footer-logo">Tammy Espaço de Beleza</h1>
                <p class="text-center">©2024 Tammy Espaço de Beleza. Todos os direitos reservados.</p>
                <p class="text-center">Av. Manoel dos Santos Braga, 859 - Vila Robertina, CEP: 03807-320 - São Paulo, SP.</p>
            </div>
        </footer>
        <!-- JAVASCRIPT FILES -->
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery.sticky.js"></script>
        <script src="js/click-scroll.js"></script>
        <script src="js/custom.js"></script>
        <script src="js/login.js"></script>
    </body>
</html>