{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Sobre</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="../static/images/woman-icon.png">
        <!-- CSS FILES -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static '/css/bootstrap.icons.css' %}">
        <link rel="stylesheet" href="{% static '/css/sobre.css' %}">
    </head>
    <body class="topics-listing-page" id="top">
        <!-- Navbar -->
        <nav class="navbar">
            <div class="navbar-logo">
                <span>Tammy Espaço de Beleza</span>
            </div>
            <div class="navbar-link">
                <a href="/">Início</a>
                <a href="/sobre">Sobre</a>
                <a href="/serviços">Serviços</a>
                <!--a href="/agendar">Agendar</a-->
                <a href="/contato">Contato</a>
                <button type="button" class="btn-login" onclick="window.location.href='/login';">Login</button>
            </div>
        </nav>
        <!-- Section -->
        <section class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-12 text-center">
                        <h2>Sobre</h2>
                    </div>
                    <div class="col-lg-8 col-12 mt-3 mx-auto">
                        <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                            <div class="d-flex">
                                <div class="custom-block-topics-listing-info d-flex">
                                    <div class="col-6 col-12 text-md-center">
                                        <p class="mb-0">Identificamos sua essência e seu estilo e simplesmente os transformamos em beleza realçada, apenas explorando o que já existe, simplesmente valorizando os detalhes e com talento mostrando ao mundo a verdadeira beleza da mulher.</p>
                                        <p class="mb-0">Todas as inspirações e tendências em cores, químicas e cortes, coloração, luzes, tratamentos, penteados, escovas, permanentes, reflexos, mechas, luzes, balaiagem.</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12 img">
                                    <img src="../static/images/corte-cabelo-2.jpg" class="topics-detail-block-image img-fluid" alt="corte-cabelo-2">
                                </div>
                            </div>
                        </div>
                        <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                            <div class="d-flex">
                                <div class="custom-block-topics-listing-info d-flex">
                                    <div class="col-6 col-12 text-md-center">
                                        <p class="mb-0">Uma equipe de profissionais com técnicas e conhecimentos que deixarão você se sentindo absolutamente incrível.</p>
                                        <p class="mb-0">Para quem procura adequar a imagem pessoal as suas principais, necessidades, com assessoria especializada em um ambiente sofisticado e com atendimento personalizado.</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12 img">
                                    <img src="../static/images/corte-cabelo-1.jpg" class="topics-detail-block-image img-fluid" alt="corte-cabelo-1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer -->
        <footer>
            <div class="footer">
                <h1 class="footer-logo">Tammy Espaço de Beleza</h1>
                <p class="text-center">©2024 Tammy Espaço de Beleza. Todos os direitos reservados.</p>
                <p class="text-center">Av. Manoel dos Santos Braga, 859 - Vila Robertina, CEP: 03807-320 - São Paulo, SP.</p>
            </div>
        </footer>
        <div class="ghost-contact-us-social d-flex flex-column align-items-end justify-content-start">
            <ul class="d-flex flex-column align-items-end justify-content-start">
                <li>
                    <a target="_self" href="/contato">
                        <span class="icon" style="background-color: #31353d">
                            <i class="bi--envelope-fill"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://api.whatsapp.com/send?phone=5511997808623">
                        <span class="icon">
                            <i class="bi--whatsapp"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- JAVASCRIPT FILES -->
        <script src="../static/js/bootstrap.bundle.min.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="../static/js/jquery.sticky.js"></script>
        <script src="../static/js/click-scroll.js"></script>
        <script src="../static/js/custom.js"></script>
    </body>
</html>