body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0 auto;
    overflow-x: hidden;
    background-color: #f2f0ef;
}

.acessibilidade {
    font-size: 16px;
    line-height: 1.7em;
    text-align: center;
    color: #31353d;
}

a {
    font-size: 0.9em;
    color: #b56f62;
    text-decoration: none;
    transition: all 0.2s linear;
}

ul {
    list-style-type: none;
}

h2 {
    font-size: 1.8em;
    font-weight: 600;
    color: #b56f62;
}

h3 {
    font-weight: 600;
    color: #31353d;
}

section {
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

section h3 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    align-content: center;
    line-height: 1.7em;
    padding: 12px;
    color: #31353d;
}

.navbar {
    display: flex !important;
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100px;
    background-color: #31353d;
    justify-content: center;
    align-items: center;
}

.navbar-logo {
    display: flex !important;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    margin-left: 36px;
    color: #ffffff;
}

.navbar-link {
    float: right;
    display: block;
    flex: 70%;
    text-align: right;
    font-size: 16px;
    font-weight: 600;
    margin-right: 36px;
    text-decoration: none;
}

.navbar-link a {
    font-size: 16px;
    text-align: center;
    line-height: 34px;
    color: #ffffff;
    display: inline-block;
    padding: 14px 16px;
    transition: all linear 190ms;
    text-decoration: none;
}

.navbar-link a:hover {
    color: #f0a89c; !important;
}

.header-container {
    display: flex !important;
    flex-wrap: wrap;
    padding: 12px;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.headline {
    margin-left: 10%;
    flex: 50%;
}

.headline p {
    display: flex !important;
    max-width: 75%;
    font-size: 18px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.headline-img {
    margin-right: 10%;
    flex: 30%;
}

.btn-login {
    width: 100px;
    padding: 4px;
    color: #31353d;
    font-weight: 600;
    margin-top: 14px;
    border: none;
    border-radius: 23px;
    background-color: #f0a89c;
    cursor: pointer;
    align-content: center;
    text-align: center;
    height: 34px;
}

.btn-login:hover {
    background-color: #fcbcb2;
}

.btn-schedule {
    width: 75%;
    height: 100%;
    padding: 15px;
    text-transform: uppercase;
    color: #31353d;
    font-weight: 600;
    margin-top: 18px;
    border: none;
    border-radius: 7px;
    background-color: #f0a89c;
    cursor: pointer;
}

.btn-schedule:hover {
    background-color: #fcbcb2;
}

.container {
    margin: 0 auto;
    padding: 20px;
}

.card {
    display: inline-block;
    width: 30%;
    padding: 16px;
    border: 1px solid #f0a89c;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.6);
}

.card:hover {
    border: 1px solid #31353d;
    background-color: #f0a89c;
    color: #31353d;
}

.card-title {
    font-size: 23px;
}

.d-flex {
    display: flex !important;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.m-auto {
    margin: 12px !important;
    position: static;
}

.footer {
    position: absolute;
    width: 100%;
    background-color: #f0a89c;
    text-align: center;
}

.footer-logo {
    font-size: 23px;
    font-weight: 600;
    padding: 12px;
    color: #31353d;
}

.ghost-contact-us-social {
    position: fixed;
    bottom: 0;
    right: 20px;
    z-index: 999;
}

.ghost-contact-us-social ul li a .icon i, .ghost-contact-us-social ul li div .icon i {
    font-size: 1.1em;
    color: #fff;
}

.ghost-contact-us-social ul li a .icon, .ghost-contact-us-social ul li div .icon {
    display: -moz-inline-box;
    display: inline-flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.ghost-contact-us-social ul li:nth-child(2) .icon {
    background-color: #44c058;
    font-size: 1.3em;
}

.bi--envelope-fill {
    display: inline-block;
    width: 23px;
    height: 23px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z'/%3E%3C/svg%3E");
    background-color: #fff;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    position: absolute;
}

.bi--whatsapp {
  display: table-footer-group;
  width: 60px;
  height: 60px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M13.601 2.326A7.85 7.85 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.9 7.9 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.9 7.9 0 0 0 13.6 2.326zM7.994 14.521a6.6 6.6 0 0 1-3.356-.92l-.24-.144l-2.494.654l.666-2.433l-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931a6.56 6.56 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592m3.615-4.934c-.197-.099-1.17-.578-1.353-.646c-.182-.065-.315-.099-.445.099c-.133.197-.513.646-.627.775c-.114.133-.232.148-.43.05c-.197-.1-.836-.308-1.592-.985c-.59-.525-.985-1.175-1.103-1.372c-.114-.198-.011-.304.088-.403c.087-.088.197-.232.296-.346c.1-.114.133-.198.198-.33c.065-.134.034-.248-.015-.347c-.05-.099-.445-1.076-.612-1.47c-.16-.389-.323-.335-.445-.34c-.114-.007-.247-.007-.38-.007a.73.73 0 0 0-.529.247c-.182.198-.691.677-.691 1.654s.71 1.916.81 2.049c.098.133 1.394 2.132 3.383 2.992c.47.205.84.326 1.129.418c.475.152.904.129 1.246.08c.38-.058 1.171-.48 1.338-.943c.164-.464.164-.86.114-.943c-.049-.084-.182-.133-.38-.232'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}